/* :root {
    --blue: #1e90ff;
    --white: #ffffff; 
  }
  body {
    background-color: var(--blue);
  }
  
  h2 {
    border-bottom: 2px solid var(--blue);
  }
  
  .container {
    color: var(--blue);
    background-color: var(--white);
    padding: 15px;
  }
  
  button {
    background-color: var(--white);
    color: var(--blue);
    border: 1px solid var(--blue);
    padding: 5px;
  } */




/* body {
    background-color: aquamarine;
}
.container {
    color: blue;
    background-color: antiquewhite;
    padding: 15px;
}
button {
    background-color: white;
    color: aqua;
    border: 1px solid black;
    padding: 5px;
} */


:root {
    --blue: lightblue;
    --white: whitesmoke; 
  }
  
  .container {
    --fontsize: 10px;
  }
  
  body {
    background-color: var(--blue);
  }
  
  h2 {
    border-bottom: 2px solid var(--blue);
  }
  
  .container {
    color: var(--blue);
    background-color: var(--white);
    padding: 15px;
    font-size: var(--fontsize);
  }
  
  @media screen and (min-width: 450px) {
    .container {
      --fontsize: 20px;
    }
  }